<html>

<head>

	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css" />
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<title>Message sender</title>
</head>

<body>
	<div id="wrapper">
		<div id="page-wrapper">
			<section class="intro">
				<div class="mask d-flex align-items-center h-100" style="background-color: #D6D6D6;">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-12 col-md-8 col-lg-6 col-xl-5">
								<div class="card" style="border-radius: 1rem;">
									<div class="card-body p-5 text-center">

										<div class="my-md-5 pb-5">
											
										</div>

										<div>
											<h2 class="mb-0"> Find your reports:<br><a href="/reports"
													class="fw-bold mb-0 ">Reports</a></h2>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

		</div>
		<!-- /#page-wrapper -->
	</div>
	<!-- /#wrapper -->
</body>

</html>